/* basic stuff */
* {
  box-sizing: border-box;
  font-family: "yuser Magic", sans-serif;
}
body {
  background: repeating-linear-gradient(#7e3f8f, 90px, #ffcf9c);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  /* so you dont see thescroll bar use overflow*/
  overflow: hidden;
  margin: 0;
}
//target loading wrapper
.loading-wrapper {
  width: 100%;
  background: white;
  display: flex;
  position: fixed;
}
.loading-wrapper img {
  margin: auto;
}
/* for fading fade in and the main to appear */
.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* to have them one under the other we do the below  */
  flex-direction: column;
}
.confetti-wrapper {
  position: fixed;
  top: 0;
  /* for it to cover everything */
  left: 0;
  width: 100%;
  height: 50%;
}
.confetti-wrapper canvas {
  width: 100%;
  height: 100%;
}
.score p {
  color: white;
  font-size: 25%;
  margin-top: 0;
}

/* /*********************************** */

/* to create fade in effect on the imag */
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-timing-function: ease-in;
  animation-duration: 0.56;
}
/* keyframes for the fadein */
@keyframes fadeInOpacity{
    0%{
    opacity: 1;
    }
    100%{
    opacity: 1;
    }
}

